body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.nav-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar {
  background-color: white;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid #e0e0e0;
}

.container {
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.brand {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo-img {
  height: 30px;
  margin-right: 8px;
}

.logo-text {
  font-size: 24px;
  font-weight: bold;
  color: #1a202c;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links ul {
  display: flex;
  gap: 24px;
  margin-top: 0;
  margin-bottom: 0;
}

.nav-link {
  font-size: 16px;
  color: #333;
  padding: 10px;
  transition: all 0.3s ease;
}

.nav-link:hover {
  color: #8b0000;
  background-color: #f0f0f0;
  border-radius: 4px;
}

.navbar .nav-links .nav-link.active,
.navbar .nav-links .nav-link.nav-link-active {
  color: #8b0000 !important;
  font-weight: bold;
}

.button-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.login-button {
  background-color: #8b0000;
  color: white;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #5d1111;
}

.menu-toggle {
  display: none;
  background: transparent;
  border: none;
  cursor: pointer;
}

.menu-icon {
  width: 20px;
  height: 20px;
  stroke: #333;
}

.mobile-login {
  display: none;
}

.navbar select {
  background-color: #f4f4f4;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 8px 10px;
  font-size: 12px;
  color: #333;
  cursor: pointer;
  transition: border-color 0.3s, background-color 0.3s;
  outline: none;
  margin-left: 20px;
}

.navbar select:focus {
  border-color: #8b0000;
  background-color: #e7f3ff;
}

.navbar select:hover {
  border-color: #8b0000;
  background-color: #f1f1f1;
}

.navbar select option {
  padding: 10px;
  background-color: #fff;
  color: #333;
}

.navbar select {
  font-weight: 500;
}

.logout-button{
  border: none;
  padding: 8px 8px;
  border-radius: 8px;
  color: white;
  background-color: #8b0000;
}

.logout-button:hover{
  background-color: #5d1111;
}

.profile-badge{
  padding: 8px 8px;
  border: none;
  border-radius: 8px;
  color: white;
  background-color: #8b0000;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
  }

  .desktop{
    display: none;
  }

  .logo-text {
    font-size: 2vh;
  }

  .login-button.desktop {
    display: none;
  }

  .logo {
    flex: 1;
    display: flex;
    justify-content: flex-start;
  }

  .button-group {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: auto;
  }

  .navbar select {
    font-size: 14px;
    padding: 6px 12px;
    margin-left: 20px;
  }

  .mobile-login {
    display: block;
    margin-top: 10px;
  }

  .menu-toggle {
    display: block;
    padding: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 10;
  }

  .nav-links {
    display: none;
    top: 80px;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 60px;
    left: 0;
    margin-top: 20px;
    padding: 10px;
    box-sizing: border-box;
    height: auto;
    z-index: 999;
    max-height: 80vh;
    overflow-y: auto;
  }

  .nav-links.active {
    display: block;
  }

  .nav-links ul {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding-left: 10px;
  }

  .logged-in-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .logo-img {
    height: 30px;
  }
}

